@keyframes playing_anim {
    from {
        right: -100vw;
    }

    to {
        right: 5%;
    }
}

.playing-anim {
    animation-name: playing_anim;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}