<div class="w-full h-full bg-bg z-0">

    <div class="w-[50vh] h-[100vh] bg-color-2 rounded-r-full absolute left-0 top-0 z-0 invisible sm:visible filter blur-[150px]"></div>   

    <div class="flex flex-row justify-around z-20">
        <div class="font-titillium text-white text-3xl mt-3 hover:text-color-1 z-20" routerLink="/login">Zaloguj się</div>
        <app-logo class="z-20 fixed" (click)="onIndexLogoClick()"></app-logo>
        <div class="font-titillium text-white text-3xl mt-3 hover:text-color-1 z-20" routerLink="/register">Załóż konto</div>
    </div>

    <div class="flex flex-row justify-evenly z-10 basis-96 ml-10 mr-10 gap-x-10 mt-40">
        <div class="bg-gradient-to-t from-color-2 to-color-3 z-10">
            <img class="scale-90 z-10" src="/assets/astro.png">
        </div>
        <div class="bg-gradient-to-t from-color-2 to-color-3 z-10">
            <img class="scale-90 z-10" src="/assets/views.png">
        </div>
        <div class="bg-gradient-to-t from-color-2 to-color-3 z-10">
            <img class="scale-90 z-10" src="/assets/good-kid.png">
        </div>
    </div>

    <div class="text-white font-titillium text-7xl flex flex-row justify-center z-10 mt-32 relative">
        Oceniaj albumy swoich <span class="text-color-1">&nbsp; ulubionych &nbsp;</span> wykonawców.
    </div>

    <div class="w-2/3 h-auto flex flex-col justify-center mt-80 relative left-1/3 gap-y-36 z-10">
        <div class="flex flex-row justify-evenly flex-wrap w-full h-auto gap-x-10">
            <p class="text-4xl font-titillium text-white text-center">Oceny <span class="text-color-1">innych</span><br>użytkowników.</p>
            <p class="text-4xl font-titillium text-white text-center">Statystyki dla <span class="text-color-1">każdego</span><br>utworu z albumu.</p>
        </div>

        <p class="text-4xl font-titillium text-white text-center mt-24 ml-16">Sprawdź jak zmieniały się twoje <span class="text-color-1">ulubione</span> utwory z danego albumu na przestrzeni czasu.</p>
    </div>

    <div class="w-[50vh] h-[100vh] bg-color-2 rounded-l-full absolute right-0 top-[100vh] z-0 invisible sm:visible filter blur-[150px]"></div>   

    <img src="/assets/player.png" class="absolute left-20 top-[115vh]">

    <div class="overflow-hidden">
        <p class="text-color-3 text-[330px] font-titillium relative top-12 font-extrabold opacity-20 mix-blend-color-dodge text-clip whitespace-nowrap playing-anim">NOW PLAYING</p>
    </div>

    <div class="flex flex-row justify-center items-center relative h-screen w-full">
        <p class="mx-20 text-8xl text-white font-sans text-center">{{ quote }}<span> ~ <span class="text-color-1">Kanye West</span></span></p>
    </div>
</div>