<div class="w-full h-full bg-bg z-0">

    <div class="w-[50vh] h-[100vh] bg-color-2 rounded-r-full absolute left-0 top-0 z-0 invisible sm:visible filter blur-[250px]"></div>   

    <div class="flex flex-row justify-around z-20">
        <div class="font-titillium text-white text-3xl mt-3 hover:text-color-1 z-20">Zaloguj się</div>
        <app-logo class="z-20 fixed"></app-logo>
        <div class="font-titillium text-white text-3xl mt-3 hover:text-color-1 z-20">Załóż konto</div>
    </div>

    <div class="flex flex-row justify-evenly z-10 basis-96 ml-10 mr-10 gap-x-10 mt-40">
        <div class="bg-gradient-to-t from-color-2 to-color-3 z-10">
            <img class="scale-90 z-10" src="/assets/astro.png">
        </div>
        <div class="bg-gradient-to-t from-color-2 to-color-3 z-10">
            <img class="scale-90 z-10" src="/assets/views.png">
        </div>
        <div class="bg-gradient-to-t from-color-2 to-color-3 z-10">
            <img class="scale-90 z-10" src="/assets/good-kid.png">
        </div>
    </div>

    <div class="text-white font-titillium text-7xl flex flex-row justify-center z-10 mt-32 relative">
        Oceniaj albumy swoich <span class="text-color-1">&nbsp; ulubionych &nbsp;</span> wykonawców.
    </div>

    <div class="w-2/3 h-auto flex flex-col justify-center mt-40 relative left-1/3  gap-y-36">
        <div class="flex flex-row justify-evenly flex-wrap w-full h-auto gap-x-10">
            <p class="text-4xl font-titillium text-white text-center">Sprawdź, jak oceniali<br><span class="text-color-1">inni</span> użytkownicy.</p>
            <p class="text-4xl font-titillium text-white text-center">Statystyki dla <span class="text-color-1">każdego</span><br>utworu z albumu.</p>
        </div>

        <p class="text-4xl font-titillium text-white text-center">Sprawdź jak zmieniały się twoje <span class="text-color-1">ulubione</span> utwory z danego albumu na przestrzeni czasu.</p>
        <p class="text-4xl font-titillium text-white text-center">Zbuduj swoje <span class="text-color-1">portfolio </span>przesłuchanych albumów.</p>
    </div>
</div>