<div class="flex flex-col items-center p-6 gap-y-5">
  <div class="w-[900px] outline-2 outline-black outline rounded-2xl p-10">
    <div class="flex flex-row items-center relative">
      <div
        class="rounded-full p-5 bg-color-2 flex justify-center items-center absolute -left-[300px]"
      >
        <mat-icon class="scale-[2] text-white">arrow_back</mat-icon>
      </div>
      <h1 class="text-5xl font-medium font-sans mb-5">Panel Administracyjny</h1>
    </div>

    <hr class="bg-black w-full h-1 mb-5" />
    <div class="grid grid-cols-3 gap-5">
      <div class="bg-neutral-300 flex justify-center items-center group">
        <mat-icon
          class="text-color-2 group-hover:text-green-600 duration-100 transition-colors"
          style="width: 42px; height: 42px; font-size: 42px"
          >add_circle
        </mat-icon>
      </div>
      <div
        *ngFor="let albumCover of albumCovers"
        class="hover:-translate-y-2 transition-transform duration-200"
      >
        <img [src]="'assets/' + albumCover" />
      </div>
      <div
        *ngFor="let albumCover of albumCovers"
        class="hover:-translate-y-2 transition-transform duration-200"
      >
        <img [src]="'assets/' + albumCover" />
      </div>
      <div
        *ngFor="let albumCover of albumCovers"
        class="hover:-translate-y-2 transition-transform duration-200"
      >
        <img [src]="'assets/' + albumCover" />
      </div>
    </div>
  </div>
</div>
