<div class="w-screen h-screen flex justify-center items-center z-10 absolute top-0 left-0">
    <div class="h-[400px] w-96 border z-10">
        <form class="flex flex-col justify-between items-center w-full h-full z-10">
            <div class="flex flex-col w-full items-center gap-y-1 mt-4 z-10">
                <label for="login" class="font-titillium text-2xl text-white z-10">Login</label>
                <input class="rounded-full w-3/4 h-14 bg-color-2 text-xl text-white text-center z-10" id="login" name="login" type="text">
            </div>

            <div class="flex flex-col w-full items-center gap-y-1 z-10">
                <label for="password" class="font-titillium text-2xl text-white z-10">Hasło</label>
                <input class="rounded-full w-3/4 h-14 bg-color-2 text-xl text-white text-center z-10" id="password" name="password" type="password">
            </div>

            <div class="text-gray-50 font-sans text-xs z-10">Nie masz konta? <a class="text-green-300 hover:underline hover:cursor-pointer z-10" routerLink="/register">Zarejestruj się</a></div>
            <button class="font-titillium text-2xl text-white w-full h-24 bg-gradient-to-b from-color-3 to-color-2 transition ease-in-out duration-100 hover:opacity-90 z-10">Zaloguj się</button>
        </form>
    </div>
</div>