<div class="bg-bg w-screen h-screen overflow-hidden">
    <div class="flex flex-row justify-center absolute top-0 w-full">
        <app-logo class="z-10"></app-logo>
    </div>


    <div class="flex flex-col justify-center w-full h-full z-10 gap-y-3">
        <p class="text-color-1 text-9xl font-mono text-center rotate-180 z-10">404</p>
        <p class="text-white text-5xl font-titillium text-center z-10">Strona, której poszukujesz, nie istnieje :(</p>
        <p class="text-color-1 text-9xl font-mono text-center z-10">404</p>
    </div>
</div>