<div class="bg-bg min-h-screen">

   <div class="flex flex-row justify-center">
      <app-logo routerLink="/"></app-logo>
   </div>

   <div class="flex flex-col justify-center items-center gap-y-5 absolute top-0 w-screen h-screen">
      <div class="w-96 h-96 bg-color-2 rounded-2xl grid-cols-2 grid-rows-3 grid items-center p-5 gap-x-5">
         <p class="col-span-2 text-white font-titillium text-center text-2xl"> Wybrana kwota: <span class="text-color-1">{{ money ?  money + " zł" : ""}}</span></p>

         <button mat-fab extended color="primary" (click)="money=sum" *ngFor="let sum of sums">
            <mat-icon>
               payments
            </mat-icon>
            {{ sum }} zł
         </button>

      </div>
      <button mat-flat-button color="accent">Potwierdź</button>
   </div>   


</div>